<!-- Cotenido buffet -->

<!--<div class="buffet contenidogeneral presen"> 
  <div class="n_close"><a href="#" class="close_guia"><img src="images/m_close.png"></a></div>
  <div id="present" class="owl-carousel owl-theme"></div>
</div>-->
<!-- fin contenido buffet --> 
<script type="text/javascript">
 /*     $(function(){
    var data= ajaxrest.getGuia();
    var guia= data;
    for(var i=0;i<guia.length;i++){
      $("#present").append('<div class="item"><img src="http://buffetexpress.com.co/imagenes/guia/imagen1/'+guia[i]["img_matrix"]+'" alt="..."></div>');
    }    

        //fin tamaño container 
          $("#owl-demo").owlCarousel({
              navigation : true, // Show next and prev buttons
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem:true
          });
          $(".fledere").click(function(){
            $("#owl-demo").trigger('owl.next');
          })
          $(".flechaiz").click(function(){
            $("#owl-demo").trigger('owl.prev');
          })
          $("#present").owlCarousel({
              navigation : true, // Show next and prev buttons
              slideSpeed : 300,
              pagination : true,
              paginationSpeed : 400,
              navigationText : ["",""],
              singleItem:true
          });
          $(".fledere").click(function(){
            $("#present").trigger('owl.next');
          })
          $(".flechaiz").click(function(){
            $("#present").trigger('owl.prev');
          })
          $("#present").find("img").css({"height":$(document).height()});
      })*/
</script> 