<!-- Contenido  buffet -->
<style>
#footer {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0 ); /* IE6-9 */
	color: white;
	text-align: center;
	position: fixed;
	bottom:70px;
	width: 100%;
	height: 30px;
	padding-top: 4px;
}
.numb{
	position: absolute;
    top:15%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size:50px;
    font-weight: bold;
    text-align: center;
    display: none;
    margin: 0px auto;
}
.cart_shop{
	position:fixed;
	z-index:999;
	display:none;
}
</style>
<div class="miscompras">
<div id="data"></div>

<div class="clear" style="padding-bottom:30px;">&nbsp;</div>
<div class="cart_shop"><a href="internal.html#/compras" onClick="ga('send', 'pageview', '/confirmacion_pedido');"><img src="images/img_carrito.png" alt="..." /></a></div>
<div id="footer">Recuerda que el pedido minimo es de $ <span id="valor_minimo"></span></div>
<div class="costoad">
  <div class="cont">
    <h1>Detalle Recomendado del día</h1>
    <p>No tenemos Recomendado del día disponible</p>
  </div>
</div>
<!-- fin contenido slider buffet -->
<script>
  $.fn.isOnScreen = function(){    
    var win = $(window);    
    var viewport = {
      top : win.scrollTop(),
      left : win.scrollLeft()
    };
    viewport.right = viewport.left + win.width();
    viewport.bottom = viewport.top + win.height();
    
    var bounds = this.offset();
    bounds.right = bounds.left + this.outerWidth();
    bounds.bottom = bounds.top + this.outerHeight();
    
    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
    
  };
  function checkLoad(image){
    var dimension=localStorage.dimension;
  var carg= $('#image_'+image).attr('src');
  var rand= Math.floor((Math.random() * 999) + 1); 
    var img= 'http://buffetexpress.com.co/REST/resources/images/dish/'+image+'_1.jpg?rand='+rand;
  if(dimension<=450)img= 'http://buffetexpress.com.co/REST/resources/images/dish/thumbs/'+image+'_1.jpg?rand='+rand;
    if(carg.length < img.length){
        //console.log(img);
        $('#image_'+image).fadeOut(50, function(){
          $(this).attr('src',img).bind('onreadystatechange load', function(){
            if (this.complete) $(this).fadeIn(300);
          });
        });
      }
    }

    $( document ).ready(function() {
      $(".detalle").hide();
      setDisplayMenu();

      var lastScrollTop = 0;            
      $(".container").scroll(function(){   
       var url= window.location.href;
       
       var st = $(this).scrollTop();
       var mHeight= $("li.carrito a img").height();
       if (st > lastScrollTop){
                //console.log("bajando");        
                $('.menupie').stop(true, true).animate({ bottom: "-12%" }, 3000);
                $('#footer').stop(true, true).animate({ bottom: "0%" }, 3000);
              } else {
                 //console.log("subiendo");
                 $('.menupie').stop(true, true).animate({ bottom: "0%" }, 3000);
                 $('#footer').stop(true, true).animate({ bottom: (mHeight-1)+"px" }, 3000);
               }
               lastScrollTop = st;

               var datos= $("#datos").val();    
               if($('#datos').length>0){               
                //console.log(str);
                if(url.indexOf("categoria/")>0){
                  if ($(this).scrollTop() > 150) {
                    var data;
                    try {
                      data= jQuery.parseJSON(datos);
                      $.each(data, function(idx, obj) {
                        if($('#image_'+obj.code).isOnScreen()){          
                          checkLoad(obj.code);
                        }        
                      });                        
                    } catch (e) {
                      return;
                    }  
                  }
                }
              } 
              return false;
            });
//setTimeout(function(){$(".btns").fadeIn();}, 1500);
});
</script>